<!DOCTYPE html>
<html lang="en">
    <head>
<link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Services</title>
    </head>

  <body>
    <header>
        <div>
            <img src="">
            <h1>Design Center</h1>
            <nav>
                <ul>
                    <li><a href="./templates/kabby.html">Klassic Abby</a></li>
                    <li><a href="./templates/DasOnlines.html">Das Onlines</a></li>
                    <li><a href="./templates/ComputerTraining.html">Computer Training</a></li>
                    <!--<li><a href="./templates/AboutUs.html"></a></li>-->
                </ul>
            </nav>
        </div>
    </header>
    <div class="body">
        <main>
            <div>
                <img>
                <h2></h2>
                <p></p>
            </div>





       </main>
    </div>
    <footer>
        <address>
            uddes Design Center
            129 Oron Road
            Uyo,
            Akwa Ibom State,
            Nigeria
        </address>

    </footer>

  </body>
</html>