{% include "g_header.html" %}

<div id="signup_form">
    <h1>Sign In</h1>

    <form method="POST" action="#">
        <!-- CSRF security -->
        {{ form.hidden_tag() }}

        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32, placeholder='jsmith') }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rme.label }}<br>
            {{ form.rme(size=32, placeholder='1') }}<br>
            {% for error in form.rme.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            {{ form.submit() }}
        </p>
    </form>

    <p>New User? <a href="{{ url_for('signup') }}"><br>
        <span class="emphasize-link"> Click to Register!</span></a>
    </p>
</div>
{% include "g_footer.html" %}